{
  "istanbul whole file": {
    "scope": "javascript,typescript",
    "prefix": "cov.ignore-whole-file",
    "body": [
      "/* c8 ignore file */",
    ],
    "description": "c8 ignore whole file"
  },

  "istanbul ignore next": {
    "scope": "javascript,typescript",
    "prefix": "cov.ignore-next",
    "body": [
      "/* c8 ignore next */",
    ],
    "description": "c8 ignore next"
  },

  "istanbul ignore if": {
    "scope": "javascript,typescript",
    "prefix": "cov.ignore-if",
    "body": [
      "/* c8 ignore if */",
    ],
    "description": ""
  },

  "istanbul ignore else": {
    "scope": "javascript,typescript",
    "prefix": "cov.ignore-else",
    "body": [
      "/* c8 ignore else */",
    ],
    "description": ""
  },

  "eslint disable next line": {
    "scope": "javascript,typescript",
    "prefix": "eslint.disable-next-line",
    "body": [
      "// eslint-disable-next-line",
    ],
    "description": ""
  },

  "eslint disable ": {
    "scope": "javascript,typescript",
    "prefix": "eslint.disable-all",
    "body": [
      "/* eslint-disable */",
    ],
    "description": ""
  },
}
